.row
  .col-xs12
    %iframe{ id: "monitoring-and-evaluation-dashboard-#{current_donor.schema_name}", allowfullscreen: "true", frameborder: "0", src: current_donor.iframe_link, style: "position:absolute; top:55px; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;" }

    =# image_tag 'dashboard.png', class: 'img-responsive'
