.row
  .col-xs12
    %iframe{ id: 'monitoring-and-evaluation-dashboard',allowfullscreen: "true", frameborder: "0", src: "https://app.powerbi.com/view?r=eyJrIjoiNTU1NzQxMDYtZDY0Zi00NDkxLTkxMDMtMThkMDZiOGQ4NGVhIiwidCI6ImZhZmQzNjI5LWJkYjYtNGVhOS1hMmQ5LWY2MjEwN2ViYTkwMSIsImMiOjEwfQ%3D%3D", style: "position:absolute; top:50px; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden;" }

    =# image_tag 'dashboard.png', class: 'img-responsive'
