.row.border-bottom
  %nav.navbar.navbar-static-top.bg{:role => "navigation", :style => "margin-bottom: 0"}
    - if true
      .navbar-header
        %a.navbar-minimalize.minimalize-styl-2.btn.btn-primary{:href => "#"}
          %i.fa.fa-bars

